*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;

}

h1{
    color: chocolate;
    cursor: pointer;
}

p{
    color: #fff;
    max-width: 500px;
    padding: 15px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.144);
    margin-top: 20px;
    display: none;
    transition: all 0.7s;
}

p:hover {
    display: block;
}

h1:hover + p {
    display: block;
}

